html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 1px gray;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FEFEFE;
}

li {
  float: right;
}

li a {
  display: block;
  color: #555555;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: color .2s ease-in;
  color: #2196f3;
  /*border-bottom: 3px solid #2196f3;*/
}

li a:active {
  color: #2196f3;
}

.active {
  color: #2196f3;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding-top: 2em;
  width: 50%;
  margin: auto;
}

hr {
  width: 70%;
  margin: auto;
  color: rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: 50%;
  margin: auto;
  padding-top: 1em;
  font-size: 64px;
}

.header-container {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 26px;
  background-color: #FFF1;
  min-height: 350px;
}

#section-content {
  width: 100%;
}

#section-content img {
  margin-top: 3em;
  margin-bottom: 3em;
}

.section-header {
    background-color: whitesmoke;
    padding-top: 6em;
}

.content-container {
  min-height: 300px;
  background-color: white;
  border-top: 1px solid lightgray;
  text-align: center;
}

.content-container img {
  border: none;
  width: auto;
  height: auto;
}

.button {
  border-radius: 2px;
  border-color: #263238;
  border-width: thin;
  background-color: #2196f3;
  padding: 1em;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  color: white;
}

.header-container h1 {
    font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 34px;
  width: 60%;
  margin: auto;
  padding-bottom: 2em;
}

.nav-container {
  width: 90%;
}

.picture-container {
  text-align: center;
  margin-top: 2em;
}

.picture-container img {
  vertical-align: middle;
  display: inline-block;
  height: auto;
}

.placeholder-img {
  width: 700px;
  height: 400px;
  margin: auto;
  padding: 0;
  border: 1px solid black;
}

.donate {
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.donate:hover {
    -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: background-color .2s ease-in;
    background-color: darkblue;
}

footer {
    text-align: center;
    font-size: 16px;
    padding-top: 1em;
    color: whitesmoke;
    background-color: #263238;
    margin: auto;
    min-height: 5em;
}
